# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.env
.venv/

# MLflow
mlruns/
mlartifacts/

# Model artifacts
model/*.pkl
model/*.joblib

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
